
body {
	background: #eae7dd; 
	font: 0.8em Verdana, sans-serif; 
	margin: 0px;
	color: #333;
	}
a {
	color: #fff;
	text-decoration: none;
	}
img {border: 0px;}



/*top banner*/
#header {
	background-image:url(../img/spread.gif);
	background-repeat: repeat;
	min-width: 800px;
	height: 134px;
	}
#seal{
	position: absolute;
	left: 50%;
	margin-left: -262px;
	height: 97px;
	width: 524px;
	background-image: url(../img/header.gif);
	}
	
/*Rutgers logo top left */
#logo {
	top: 20px; 
	left: 1%; 
	width: 223px;
	height: 76px;
	position: absolute;
	float: right;
	background-image: url(../img/logo.png);
	}
	
/* the horizontal menu starts here, menu in top right with drop */
#listmenu {
	top: 0; 
	right: 1%; 
	width: 230px;
	height: 17px;
	font-size: .9em;
	color: #fff;
	position: absolute;
	float: right;
	background-color: #1e1e1e;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: px;
	float: left; /*makes the div enclose the list */
	}
#listmenu ul {margin: 0 0 0 -40px;}/* indents ul from edge of container */
#listmenu li:first-child {}
#listmenu li {
	float: left;	/* causes the list to align horizontally instead of stack */
	position: relative; /* positioning context for the absolutely positioned drop-down */
	list-style-type: none;	/* removes the bullet off each list item */
	margin: 0;
	}
#listmenu a {
	margin: 0; 
	padding: 0;
	display:block;
	padding:0 6px; /*creates space each side of menu item's text */
	text-decoration:none;	 /* removes the underlining of the link */
	color:#fff;	/* sets the type color */
	}
#listmenu a:hover {
	color:#f33;
	}
/* the horizontal menu ends here */

/* ********** the drop-down starts here ************** */
#listmenu ul li ul {
	padding: 0;
	margin: 0; /* prevents the TEMP value inheriting from the horiz menu - OK to remove if you remove TEMP above */
	position: absolute; /* positions the drop-down ul in relation to its relatively positioned li parent */
	width: 5em; /*sets the width of the menu - in combo with the li's 100% width, makes the menu stack*/
	left: -1px; /*aligns the drop exactly under the menu */
	z-index: 1;
	background-color: #1e1e1e;
	}
#listmenu ul li ul li {
	width: 50%; /* makes the list items fill the list container (ul) */
	border-left: 1px solid #000; /*  three sides of each drop-down item */
	border-right: 1px solid #000;
	}
/* make the drop-down display as the menu is rolled over */
#listmenu ul li ul {display: none;} /* conceals the drop-down when menu not hovered */
#listmenu ul li:hover ul {display: block; } /* shows the drop-down when the menu is hovered */

/* END OF LIST-BASED MENU */

/*Search box in top left */
#search {
	top: 30px; 
	right: 1%;
	width: 230px;
	height: 25px;
	position: absolute;
	vertical-align: top;
	text-align: right;
	float: right;
	z-index: 0;
	color: #fff;
	}
	
fieldset
{
     border: 0px;
}	

/*search text color*/
#gs{
	color: #fff;
	font-size: .9em;
}

/* Links below search box */
#link_line {
	top: 70px;  
	right: 1%;
	width: 230px;
	height: 15px;
	color: #fff;
	position: absolute;
	float: right;
	font-size: .9em;
	text-align: right;
	}
	
/* Menu bar .. more like a twitterline at the moment*/
#menu {
	position: absolute;
	top: 100px;
	width: 100%;
	padding: 5px;
	margin: 0;
	font: 1.2em Verdana, sans-serif;
	text-align: center;
	color: #fff;
	min-width: 800px;
	}
	
	
a, a:visited{
	text-decoration: none;
}
a link:hover{
	color: #fff;
}
select{
	font-size: 20px;
}
h4, h3{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	line-height: 20px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: normal;
	padding: 0px;
	margin: 5px;
}

#main {
    margin-bottom: 50px;
}
#searchForm{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin-left: 20%;
	background: #505050;
	font-size: 50px;
	text-align: center;
	width: 60%;
	color: #e7e7e7;;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
}
#function_search_form {
	background: #505050;
	border: 1px solid #D2D2D2;
	padding: 10px;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
}
#function_name {
	font: italic 30px Georgia;
	border: 1px solid #cecece;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	padding: 3px;
	width: 50%;
	background: #F7F7F7 url(../img/search.png) no-repeat right center
}
#function_description {
	text-align: center;
	top: 180px;
	width: 60%;
	margin-left: 20%;
}
#function_description a, a:visited{
	color: #669;
}
#resultsTable
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	margin-bottom: 35px;
}
#resultsTable th{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#resultsTable td{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#resultsTable tbody tr:hover td{
	color: #009;
}
#resultsTable td.Sta{
	background: #eceefb;
}
#resultsTable td.Tes{
	background: #e3efe2;
}
#resultsTable td.Uns{
	background: #efcfcc;
}
#resultsTable td.Ura{
	background: #efedc5;
}
#resultsTable td.Ret{
	background: #f3eff2;
}

#packageHeader{
	text-align: center;
	background: #fff;
	color:#505050;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	width: 100%;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#packagesTable{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 20px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: left;
	background: #fff;
	color:#505050;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	width: 100%;
	padding: 3px;
}
#files{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 20px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: left;
	background: #505050;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	color: #fff;
	float: left;
	max-width: 40%;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 35px;
}
#provides{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 20px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: left;
	background: #505050;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	color: #fff;
	float: left;
	padding: 5px;
	max-width: 30%;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 35px;
}
#requires{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 20px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: left;
	background: #505050;
	-moz-border-radius: 5px;
    -webkit-border: 5px;
	color: #fff;
	float: left;
	padding: 5px;
	max-width: 30%;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 35px;
}
.title{
	background: #D2D2D2;
	padding-left: 3px;
	font-weight: bold;
}
#footer{
	background:#000000 none repeat scroll 0 0;
	opacity:0.7;
	width:100%;
	border-top:1px solid #353939;
	position: fixed;
	bottom: 0px;
	height:20px;
	padding-top:10px;
	font-family: "helvetica",arial,verdana,sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	vertical-align: baseline;
	color: #585858;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	text-indent: 0px;
}



em {
	color: #4CA1D8;
}

div, h1 {
	margin: 0px;
	padding: 0px;
}




#menu_list {
	float: left;
	list-style: none;
	margin: 20px 0px 0px 5px;
	padding: 0px;
}

#menu_list li {
	display:inline;
}

#menu_list a {
	text-decoration: none;
	font-weight: bold;
	color: #4CA1D8;
	background: url(../img/menu_back.png) no-repeat left top;
	padding-left: 30px;
	display: block;
	margin:5px 0 0 0;
	line-height: 23px;
}

#menu_list a:hover {
	background: url(../img/menu_back.png) no-repeat left bottom;
	color: #6CB8E9;
}





#function_description ul {
	margin: 0;
	padding: 0;
	list-style:none!important;
	list-style-image: none!important;
}

#function_description ul li {
	margin-bottom: 10px;
}



div.autocomplete {
	color: #fff;
	position:absolute;
	width:250px;
	background: url(../img/row_gradient.png) repeat;
	border:1px solid #888;
	margin:0px;
	padding:0px;
	z-index: 2;
}
	
div.autocomplete ul {
	list-style:none!important;
	list-style-image:none!important;
	margin:0px;
	padding:0px;
}

div.autocomplete ul li.selected {
	background-color: #333;
}

div.autocomplete ul li {
	font-size: small;
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
}