#!/bin/bash
# backup_rpmfind: A simple rotating backup script for the rpmfind database.

# Exit on error.
set -e

# The directory that contains the backups.
BACKUP_DIR=/usr/koji/backups

# Make directories 0 - 7, (if they don't exist)
/bin/mkdir -p $BACKUP_DIR/backup.{0..7}

# Remove oldest backup
/bin/rm -rf $BACKUP_DIR/backup.7/

# Rotate the rest of the backups
for i in {7..1}; do
    # move from (i-1) to (i)
    /bin/mv $BACKUP_DIR/backup.$[${i}-1] $BACKUP_DIR/backup.${i}
done

# After the move, we need to make backup.0 again for the newest backup
/bin/mkdir -p $BACKUP_DIR/backup.0

# Dump MySQL databases into newest backup (index 0)
mysqldump -uroji -ppassword rpmdatabase > $BACKUP_DIR/backup.0/rpmdatabase.sql
